@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoB.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoEB.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoH.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoL.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoM.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoR.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoSB.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoT.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("./assets/fonts/apple_sandol/AppleSDGothicNeoUL.ttf") format("truetype");
  font-weight: 200;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'AppleSDGothicNeo', sans-serif;
}
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.postListHeader{
    width: 40rem;
    margin: 0 auto;
    font-size: 1.8rem;
    padding: 0.5rem;
    font-weight: 600;
    border-bottom: 0.1rem solid #e2e2e2;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
p{
    line-height: 2rem;
}